{% extends 'base.html' %}
{% load brand_tags %}

{% block content %}


    <section class="section-content padding-y bg">
        {% include 'includes/alerts.html' %}
        <div class="container">
            <div class="row">

                {% if user.is_tailor %}
                    {% include 'includes/tailor_dashboard_sidebar.html' %}
                    <main class="col-md-9">
                        <article class="card">
                            <header class="card-header">
                                <strong class="d-inline-block mr-3">Logged in as:</strong>
                                <span>{{ user.full_name | title }}</span>
                                <br class="">
                                <strong class="d-inline-block mr-3">Role:</strong>
                                <span>TAILOR</span>
                            </header>
                            <div class="card-body">
                                <div class="row">

                                    {#                                    <div class="col-md-6">#}
                                    {#                                        <div class="card" style="text-align: center;">#}
                                    {#                                            <div class="card-body">#}
                                    {##}
                                    {#                                                <a href="{% url 'create_tailor' %}">Complete your Business#}
                                    {#                                                    Information</a>#}
                                    {#                                            </div>#}
                                    {#                                            <div class="card-body">#}
                                    {##}
                                    {#                                                <a href="{% url 'edit_tailor' %}">Update your Business Information</a>#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}

                                    {% if request.user.is_authenticated and request.user.tailor %}
                                        <!-- Tailor exists -->
                                        <div class="col-md-6">
                                            <div class="card" style="text-align: center;">
                                                <div class="card-body">
                                                    <a href="{% url 'edit_tailor' %}">Update your Business
                                                        Information</a>
                                                </div>
                                                <div class="card-body">
                                                    <a href="{% url 'brand_create' %}">Add a Brand</a>
                                                </div>

                                                {% my_brand_count as total_brands %}
                                                {% my_brand_count True as active_brands %}

                                                {% if total_brands > 0 %}
                                                    <p>
                                                        You have {{ total_brands }} brand{{ total_brands|pluralize }}
                                                        ({{ active_brands }} active).
                                                    </p>
                                                {% else %}
                                                    <p>You do not have a brand added yet.</p>
                                                {% endif %}


                                            </div>
                                        </div>
                                    {% else %}
                                        <!-- Tailor not created yet -->
                                        <div class="col-md-6">
                                            <div class="card" style="text-align: center;">
                                                <div class="card-body">
                                                    <a href="{% url 'create_tailor' %}">Complete your Business
                                                        Information</a>
                                                </div>

                                            </div>
                                        </div>
                                    {% endif %}


                                    <div class="col-md-6">
                                        <div class="card" style="text-align: center;">
                                            <div class="card-body">
                                                <img src="{{ userprofile.profile_picture.url }}"
                                                     alt="User Profile Picture" width="50" height="50"
                                                     style="border-radius: 30%">
                                                <p class="mb-0">{{ user.email }}</p>
                                                <p>{{ user.phone_number }}</p>
                                            </div>
                                        </div>
                                    </div>


                                </div> <!-- row.// -->
                            </div> <!-- card-body .// -->

                        </article> <!-- order-group.// -->
                    </main>
                {% else %}
                    {% include 'includes/dashboard_sidebar.html' %}
                    <main class="col-md-9">
                        <article class="card">
                            <header class="card-header">
                                <strong class="d-inline-block mr-3">Logged in as:</strong>
                                <span>{{ user.full_name | title }}</span> {{ user.is_tailor }}
                            </header>
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="card" style="text-align: center;">
                                            <div class="card-body">
                                                <h5 class="card-title">Total Orders</h5>
                                                <h4> {{ orders_count }}</h4>
                                                <a href="{% url 'my_orders' %}">View Orders</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card" style="text-align: center;">
                                            <div class="card-body">
                                                <img src="{{ userprofile.profile_picture.url }}"
                                                     alt="User Profile Picture" width="50" height="50"
                                                     style="border-radius: 30%">
                                                <p class="mb-0">{{ user.email }}</p>
                                                <p>{{ user.phone_number }}</p>
                                            </div>
                                        </div>
                                    </div>


                                </div> <!-- row.// -->
                            </div> <!-- card-body .// -->

                        </article> <!-- order-group.// -->
                    </main>

                {% endif %}
            </div> <!-- row.// -->
        </div>


    </section>

{% endblock %}