{% extends 'base.html' %}

{% block content %}
{#<section class="section-conten padding-y" style="min-height:84vh">#}
{##}
{#<!-- ============================ COMPONENT LOGIN   ================================= -->#}
{#	<div class="card mx-auto" style="max-width: 600px; margin-top:100px;">#}
{#      <div class="card-body">#}
{#                      {% include 'includes/alerts.html' %}#}
{#      <h4 class="card-title mb-4">Forgot Password</h4>#}
{#      <form action="{% url 'forgotPassword' %}" method="post">#}
{#          {% csrf_token %}#}
{#          <div class="form-group">#}
{#			 <input type="email" class="form-control" placeholder="Email Address" name="email">#}
{#          </div> <!-- form-group// -->#}
{##}
{#          <div class="form-group">#}
{#          <span class="float-right">Got password? &nbsp; <a href="{% url 'login' %}" class="float-right"> Login </a></span>#}
{##}
{#          </div> <!-- form-group form-check .// -->#}
{#          <div class="form-group">#}
{#              <button type="submit" class="btn btn-primary btn-block"> Submit  </button>#}
{#          </div> <!-- form-group// -->#}
{#      </form>#}
{#      </div> <!-- card-body.// -->#}
{#    </div> <!-- card .// -->#}
{##}
{#     <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>#}
{#     <br><br>#}
{#<!-- ============================ COMPONENT LOGIN  END.// ================================= -->#}
{##}
{##}
{#</section>#}
    <br class="">
    <!-- Enquiry section Start here -->
    <div class="enquery-section mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="enquery-form-wrapper style-2">
                        <form action="{% url 'forgotPassword' %}" method="post">
                            {% csrf_token %}
                            {% include 'includes/alerts.html' %}
                            <div class="form-title">
                                <h4>Forgot Password</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-15">
                                    <div class="form-inner">
                                        <label>email </label>
                                        <input type="email" placeholder="Email Address" name="email">
                                    </div>
                                </div>

                                <p class="text-left mt-4"> Got password? <a href="{% url 'login' %}" class="float-right"> Login </a></p>
                                <div class="col-md-12">
                                    <div class="form-inner">
                                        <button class="primary-btn" type="submit">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                                <div class="form-remember-forget">
<p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Enquiry section ends here -->

{% endblock %}