{% extends 'base.html' %}

{% load static %}

{% block content %}

     <!-- breadcrumb section strats here -->
    <div class="breadcrumb-section mb-100"
        style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),  url('{% static "assets/image/inner-page/breadcrumbs-image5.jpg" %}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <div class="banner-content style-2 text-center">
                        <h1>Place Order</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><span>/</span> Place Order</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb section ends here -->



 <!-- My Account Dashboard section strats here -->
    <div class="dashboard-section mb-100">
        <div class="container">
            <div class="row g-lg-4 gy-5">


                <div class="col-lg-12">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel"
                            aria-labelledby="v-pills-dashboard-tab">
                            <div class="dashboard-area">
                                 <div class="row g-4 mt-30">
                                    <div class="col-xl-7 col-lg-8">
                                        <div class="dashboard-card">
                                            <div class="header">
                                                <h5>Billing Information ( Order # {{ order.order_number}} )</h5>
                                            </div>

                                                <div class="order-summary">

                                          <div class="summary-box">
                                            <div class="summary-item">
                                              <span>Name</span>
                                              <span>{{ order.full_name}} </span>
                                            </div>
                                            <div class="summary-item">
                                              <span>Address 1</span>
                                              <span>{{ order.full_address}}</span>
                                            </div>
                                            <div class="summary-item">
                                              <span>Address 2</span>
                                              <span>{{ order.city}}, {{ order.state}} {{ order.country }}</span>

                                            </div>
                                            <div class="summary-item">
                                              <span>Order Email</span>
                                              <span>{{ order.email}}</span>
                                            </div>
                                              <div class="summary-item">
                                              <span>Order Phone</span>
                                              <span>{{ order.phone}}</span>
                                            </div>
                                              {% if order.order_note %}

                                                <span>Order Note</span>
                                              <span>{{ order.order_note | capfirst }}</span>
                                              {% endif %}



                                          </div>
                                        </div>

                                            </div>



                                    </div>



                                    <div class="col-xl-5 col-lg-4">
                                        <div class="dashboard-card">
                                            <div class="header">
                                                <h5>Order Summary</h5>
                                            </div>

                                                 <div class="cart-footer">
                                         <div class="order-summary">

                                          <div class="summary-box">
                                            <div class="summary-item">
                                              <span>Sub Total</span>
                                              <span>${{ total }}</span>
                                            </div>
                                            <div class="summary-item">
                                              <span>Tax</span>
                                              <span>${{ tax }}</span>
                                            </div>
                                            <div class="summary-item total">
                                              <span>Grand Total</span>
                                              <span>${{ grand_total }}</span>
                                            </div>

                                          </div>
                                        </div>
                                        <hr>
			<p class="text-center mb-3">
				<img src="{% static './images/misc/payments.png' %}" height="26">
			</p>
		     <div id="paypal-button-container"></div>

                                    </div>

                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My Account Dashboard section ends here -->


{#    <!-- checkout section strats here -->#}
{#    <div class="checkout-section mb-100">#}
{#        <div class="container">#}
{#            <div class="row g-lg-4 gy-5">#}
{#                <div class="col-xl-7 col-lg-8">#}
{#                    <div class="order-sum-area">#}
{##}
{#                                <div class="cart-menu">#}
{#                                    <div class="cart-body">#}
{#                                        <ul>#}
{#                                        {% for cart_item in cart_items %}#}
{##}
{#                                            <li class="single-item">#}
{#                                                <div class="item-area">#}
{#                                                    <div class="main-item">#}
{#                                                        <div class="item-img">#}
{#                                                           <a href="{{ cart_item.product.get_url }}"> <img src="{{ cart_item.product.images.url }}" alt=""></a>#}
{#                                                           <div class="close-btn">#}
{#                                                                <i class="bi bi-x"></i>#}
{#                                                           </div>#}
{#                                                        </div>#}
{#                                                        <div class="content-and-quantity">#}
{#                                                            <div class="content">#}
{#                                                                <h6><a href="{{ cart_item.product.get_url }}"> {{ cart_item.product.product_name }} </a></h6>#}
{#                                                                <span>${{ cart_item.sub_total }}</span><br>#}
{#                                                                <i><span>({{ cart_item.quantity }} x ${{ cart_item.product.price }})</span></i>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{##}
{##}
{##}
{##}
{##}
{#                                                    <div class="quantity-area">#}
{#                                                        <div class="">#}
{#                                                             {% if cart_item.variations.all %}#}
{#                        {% for item in cart_item.variations.all %}#}
{#                            <span class="deemphasized-text">{{ item.variation_category | capfirst }} </span> <br><span class="deemphasized-text-2">{{ item.variation_value | capfirst }}</span> <br>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                            <hr>#}
{#                                        {% endfor %}#}
{#                                        </ul>#}
{##}
{#                                    </div>#}
{##}
{#                                </div>#}
{#                            </form>#}
{#                        </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- checkout section ends here -->#}



<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    var amount = "{{ grand_total }}"
    var url = "{% url 'payments' %}"
    var orderID = "{{ order.order_number }}"
    var payment_method = 'PayPal'
    var redirect_url = "{% url 'order_complete' %}"
	// Render the PayPal button into #paypal-button-container
	paypal.Buttons({
         style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },

		// Set up the transaction
		createOrder: function(data, actions) {
			return actions.order.create({
				purchase_units: [{
					amount: {
						value: amount,
					}
				}]
			});
		},

		// Finalize the transaction
		onApprove: function(data, actions) {
			return actions.order.capture().then(function(details) {
                console.log(details);
                sendData()
			    function sendData(){
                    fetch(url, {
                        method : "POST",
                        headers: {
                            "Content-type": "application/json",
                            "X-CSRFToken": csrftoken,
                        },
                        body: JSON.stringify({
                            orderID: orderID,
                            transID: details.id,
                            payment_method: payment_method,
                            status: details.status,

                        }),
                    })
                    .then((response) => response.json())
                    .then((data) => {
                        window.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+data.transID;
                    });
                }

			});
		}


	}).render('#paypal-button-container');
</script>

{% endblock %}